<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flipkart Clone</title>
    <link rel="stylesheet" href="\static\style.css">
    <link rel="icon" type="image/png" href="https://yt3.googleusercontent.com/V5SG8qholmM1Gyxapc3wLUniFKEnaQnbgACfR4ujMjfZsnRk92i9WHEwuhWJI51oJPpVq3rVRQ=s900-c-k-c0x00ffffff-no-rj">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <div class="nav-container">
            <div class="logo">
                <img src="/static/fkheaderlogo_exploreplus-44005d.svg"  alt="Flipkart">
            </div>
            <div class="search">
                <div class="search-container"><i class="fa-solid fa-magnifying-glass"></i>
                    <input  type="text" class="search-box" placeholder="Serach for Products, Brand and More">
                    <br>
                    <button class="search-button">
                        GO
                    </button>
                </div>
            </div>

            <div class="login"><i class="fa-solid fa-circle-user"></i>
                 <button class="login-button">Login</button>
            </div>

            <div class="cart"><i class="fa-solid fa-cart-shopping"></i>Cart</div>

            <div class="become-seller"><i class="fa-solid fa-store"></i> Seller</div>

            <div class="more"><i class="fa-solid fa-circle-chevron-down"></i>More</div>

        </div>
    </header>
    <br>

    <section class="section1">
        <div class="section1-container">
            <div class="section1-item"><img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/178cf5a874cd697a.png?q=100" height="111px" width="111px" alt="Top Offers">Top Offers</div>
            <div class="section1-item"><img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/e2268d56d09df684.png?q=100" height="111px" width="111px" alt="Mobiles">Mobiles</div>
            <div class="section1-item"><img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/6e3e1efa83bc56c3.png?q=100" height="111px" width="111px" alt="Electronics">Electronics</div>
            <div class="section1-item"><img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/b3e1225e6bda1c9e.png?q=100" height="111px" width="111px" alt="Appliances">Appliances</div>
            <div class="section1-item"><img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/a11d5d13e54bf964.png?q=100" height="111px" width="111px" alt="Fashion">Fashion</div>
            <div class="section1-item"><img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/5972d5da375c81c7.png?q=100" height="111px" width="111px" alt="Home & Furniture">Home & Furniture</div>
            <div class="section1-item"><img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/1cfc2d91f717510a.png?q=100" height="111px" width="111px" alt="Flight Bookings">Fight Bookings</div>
            <div class="section1-item"><img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/d154c0b4d536c1cf.png?q=100" height="111px" width="111px" alt="Grocery">Grocery</div>
            </div>
    </section>
    <br>

    <section class="section2">
    <div class="section2banner">
        <div class="banner1">
            <img src="/static/samsungbanner.webp" alt="Samsung Mobile">

            <img src="/static/flightbanner.webp" alt="Flight Booking">
        </div>
    </div>
    </section>
    <br>

    <section class="section3">
        <div class="section3"></div>
    </section>
    <br>

    <section class="section4"><h2 class="electronics">Best Of Electronics</h2>
        <div class="section4-1">
        <div class="section4-container">
            <div class="item"><img src="https://rukminim2.flixcart.com/image/240/240/xif0q/smartwatch/5/v/s/-original-imagxrhetgfuebnn.jpeg?q=60" height="150px" width="150px">Fastract Smartwatch<br><h3>From Rs.1399</h3></div>
            <div class="item"> <img src="https://rukminim2.flixcart.com/image/240/240/l58iaa80/headphone/k/z/m/nord-buds-ce-oneplus-original-imagfyk4hyvgg6ze.jpeg?q=60" height="150px" width="100px"> Earbuds<br><h3>Grab Now</h3> </div>
            <div class="item"><img src="https://rukminim2.flixcart.com/image/240/240/xif0q/monitor/b/x/x/-original-imah7rn68zxjzbqx.jpeg?q=60" height="150px" width="170px"> Monitors<br><h3>From Rs.9999</h3></div>
            <div class="item"><img src="https://rukminim2.flixcart.com/image/240/240/kz1lle80/smartwatch/m/f/q/-original-imagb54tb6fpurze.jpeg?q=60" height="150px" width="150px">NOise Smartwatch<br><h3>From Rs.1099</h3></div>
            <div class="item"><img src="https://rukminim2.flixcart.com/image/240/240/xif0q/projector/q/7/6/i9-pro-10-ei9027-led-projector-egate-original-imah5e3bggu5qcgp.jpeg?q=60" height="150px" width="150px">Projector<br><h3>From Rs.6990</h3></div>
            <div class="item"><img src="https://rukminim2.flixcart.com/image/240/240/xif0q/printer/s/8/d/-original-imafkykednshkhx5.jpeg?q=60" height="150px" width="150px">Printers<br><h3>From Rs.2336</h3></div>
            <div class="item"><img src="https://rukminim2.flixcart.com/image/240/240/kl9rssw0/monitor/y/c/2/proart-display-pa278qv-27-pa278qv-asus-original-imagyfpfyzwgdygs.jpeg?q=60" height="150px" width="150px">ASUS Monitor<br><h3>From Rs.8999</h3></div>
            <div class="item"><img src="https://rukminim2.flixcart.com/image/240/240/kcf4lu80/speaker/mobile-tablet-speaker/h/u/f/srs-xb23-sony-original-imaftk66vjxp86h5.jpeg?q=60" height="130px" width="50px">Sony Soundbar<br><h3>From Rs.499*</h3></div>
        </div>
        <div class="advertise"><img src="https://rukminim2.flixcart.com/fk-p-flap/1060/1620/image/ce3cf81edb760559.jpg?q=60" height="300px" width="175px"></div>
        </div>
    </section>

    <section class="section5"><h2>Beauty, Foods, Toys & More...</h2> 
        <div class="section5-container">
            <div class="items"><img src="https://rukminim2.flixcart.com/image/240/240/l111lzk0/cycle/m/r/e/xc-900-grey-lite-26-15-5-cradiac-21-gear-120-original-imagczuzpxeweczm.jpeg?q=60" height="150px" width="200px">Geared Cycles<br><h4>Up to 70% off</h4></div>
            <div class="items"><img src="https://rukminim2.flixcart.com/image/240/240/kzzw5u80/coffee/s/b/x/-original-imagbwf3wvhzfh5z.jpeg?q=60" height="150px" width="100px">Coffee Powder<br><h4>Up to 80% off</h4></div>
            <div class="items"><img src="https://rukminim2.flixcart.com/image/240/240/kx50gi80/pen/h/z/k/119766-flair-original-imag9nzubznagufg.jpeg?q=60" height="150px" width="170px">Top Selling Stationery<br><h4>From Rs.49</h4></div>
            <div class="items"><img src="https://rukminim2.flixcart.com/image/240/240/k0plpjk0/remote-control-toy/9/g/k/4-function-remote-control-high-speed-big-racing-car-toy-funkey-original-imafkg33umd8dy93.jpeg?q=60" height="150px" width="150px">Remote Control Toys<br><h4>Up to 80& off</h4></div>
            <div class="items"><img src="https://rukminim2.flixcart.com/image/240/240/jxz0brk0/stuffed-toy/n/t/s/4-feet-pink-very-beautiful-best-quality-for-special-gift-125-13-original-imafgv92puzkdytg.jpeg?q=60" height="150px" width="150px">Soft Toys<br><h4>Up to 70% off</h4></div>
            <div class="items"><img src="https://rukminim2.flixcart.com/image/240/240/kzegk280/action-figure/9/v/t/3-30155-mcfarlane-2-5-original-imagbeyyzehpyk2m.jpeg?q=60" height="150px" width="150px">Best of Action Toys<br><h4>Up to 70% off</h4></div>
            <div class="items"><img src="https://rukminim2.flixcart.com/image/240/240/k6fd47k0/nut-dry-fruit/p/z/7/200-100-natural-california-pouch-happilo-original-imafzvw2tcazeur6.jpeg?q=60" height="150px" width="100px">Dry Fruits<br><h4>Up to 75% off</h4></div>
            <div class="items"><img src="https://rukminim2.flixcart.com/image/240/240/klzhq4w0/jam-spread/w/q/u/510-chocolate-peanut-butter-crunchy-510g-jar-nut-butter-original-imagyzpqqfaguxny.jpeg?q=60" height="150px" width="120px">Food Spreads<br><h4>Up to 75% off</h4></div>
            <div class="items"><img src="https://rukminim2.flixcart.com/image/240/240/kl5hh8w0/puzzle/g/n/g/60-wooden-earth-jigsaw-puzzle-60-pcs-webby-original-imagyc8hsdztzdzb.jpeg?q=60" height="150px" width="150px">Puzzles<br><h4>Up to 70% off</h4></div>
            <div class="items"><img src="https://rukminim2.flixcart.com/image/240/240/kiqbma80-0/musical-toy/s/k/b/xylophone-guitar-wooden-kids-first-musical-sound-instrument-toy-original-imafyfszcjkjcwwz.jpeg?q=60" height="150px" width="150px">Musical Toys<br><h4>Under Rs.199</h4></div>
        </div>
    </section>
    <br>
    <br><br><br><br>

    <footer class="footer-container">
        <div class="footer-container1">
            <div class="tags"><h5>ABOUT</h5>
                <li><a>Contact Us</a></li>
                <li><a>About Us</a></li>
                <li><a>Careers</a></li>
                <li><a>Flipkart Stories</a></li>
                <li><a>Press</a></li>
                <li><a>Corporate</a></li>
                <li><a>Information</a></li>
            </div>
            
            <div class="tags2"><h5>GROUP<br>COMPANIES</h5>
                <li><a>Myntra</a></li>
                <li><a>Cleartrip</a></li>
                <li><a>Shopsy</a></li>
            </div>

            <div class="tags3"><h5>HELP</h5>
                <li><a>Payments</a></li>
                <li><a>Shipping</a></li>
                <li><a>Cancellation &</a></li>
                <li><a>Returns</a></li>
                <li><a>FAQ</a></li>
            </div>

            <div class="tags4"><h5>CONSUMER POLICY</h5>
                <li><a>Cancellation &</a></li>
                <li><a>Returns</a></li>
                <li><a>Terms Of Use</a></li>
                <li><a>Security</a></li>
                <li><a>Privacy</a></li>
                <li><a>Sitemap</a></li>
                <li><a>Grievance</a></li>
                <li><a>Redressal</a></li>
                <li><a>EPR Compliance</a></li>
            </div>

            <div class="line1"></div>

            <div class="tags5"><h5>Mail Us:</h5>
                <p>Flipkart Internet Private Limited,<br>Buildings Alyssa, Begonia &<br>Clove Embassy Tech Village,<br>Outer Ring Road, Devarabeesanahalli Village,<br>Bengaluru, 560103,<br>Karnataka, India</p>
                
            </div>

            <div class="tags6"><h5>Registered Office Address:</h5>
                <p>Flipkart Internet Private Limited,<br>Buildings Alyssa, Begonia &<br>Clove Embassy Tech Village,<br>Outer Ring Road, Devarabeesanahalli Village,<br>Bengaluru, 560103,<br>Karnataka, India<br>CIN: U51109KA2012PTC066107<br>Telephone: 044-45614700 / 044-67415800</p>
            </div>
        </div>

        <div class="line2"></div>

        <div class="footer-container2">
            <a><i class="fa-solid fa-store" style="color: yellow;"></i> Become a Seller</a>
            <a><i class="fa-solid fa-meteor" style="color: yellow;"></i>Advertise</a>
            <a><i class="fa-solid fa-gift" style="color: yellow;"></i>Gift cards</a>
            <a><i class="fa-solid fa-circle-question" style="color: yellow;"></i>Help Center</a>
            <a>&copy; 2007-2025 Flipkart.com</a>
            <div class="card"><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/payment-method-c454fb.svg"></div>
        </div>

        <div class="socialmedia"><h5 class="social">Social:</h5>
                    <a href="https://www.facebook.com/flipkart" target="-main"><i class="fab fa-facebook-f" style="color: white;"></i></a>
                    <a href="https://twitter.com/flipkart" target="_main"><i class="fa-brands fa-x-twitter" style="color: white;"></i></a>
                    <a href="https://youtube.com/flipkart" target="_main"><i class="fa-brands fa-youtube" style="color: white;"></i></a>
                    <a href="https://instagram.com/flipkart" target="_main"><i class="fa-brands fa-instagram" style="color: white;"></i></a>
                </div>


    </footer>
</body>
</html>